In [22]:
import pandas as pd
import seaborn as sns

In [23]:
def results_table(file):
  results = pd.read_csv(file).drop(columns=["Unnamed: 0"], axis=1)
  return pd.DataFrame(data=[results[results.TMSE == results.TMSE.min()].iloc[0], results[results.CB == results.CB.min()].iloc[0]],index=["menor_TMSE", "menor_CB"])

#QKLMS

## Simple search

In [35]:
df = results_table("/content/QKLMS_4.2_AKB_5003.csv")
df

             eta  epsilon  sigma      TMSE    CB  tradeOff
menor_TMSE  0.05     0.35    0.4  0.005732  24.0  0.008298
menor_CB    0.05     1.00    0.2  0.876818   5.0  0.876819

In [25]:
df.to_latex()

'\\begin{tabular}{lrrrrrr}\n\\toprule\n{} &   eta &  epsilon &  sigma &      TMSE &    CB &  tradeOff \\\\\n\\midrule\nmenor\\_TMSE &  0.05 &     0.35 &    0.4 &  0.005732 &  24.0 &  0.008298 \\\\\nmenor\\_CB   &  0.05 &     1.00 &    0.2 &  0.876818 &   5.0 &  0.876819 \\\\\n\\bottomrule\n\\end{tabular}\n'

## Monte Carlo search

In [26]:
df = results_table("/content/mc_QKLMS_4.2_AKB_5003.csv")
df

             eta  epsilon  sigma      TMSE   CB
menor_TMSE  0.05     0.35    0.4  0.005330  7.0
menor_CB    0.05     1.00    0.2  0.848732  4.0

In [27]:
df.to_latex()

'\\begin{tabular}{lrrrrr}\n\\toprule\n{} &   eta &  epsilon &  sigma &      TMSE &   CB \\\\\n\\midrule\nmenor\\_TMSE &  0.05 &     0.35 &    0.4 &  0.005330 &  7.0 \\\\\nmenor\\_CB   &  0.05 &     1.00 &    0.2 &  0.848732 &  4.0 \\\\\n\\bottomrule\n\\end{tabular}\n'

#QKLMS AKB

##Simple search

In [28]:
df = results_table("/content/QKLMS_AKB_4.2_AKB_5003.csv")
df

             eta  epsilon  sigma_init    mu    K      TMSE    CB  tradeOff
menor_TMSE  0.05     0.35         0.4  0.10  1.0  0.007282  22.0  0.009126
menor_CB    0.05     1.00         0.2  0.05  1.0  1.004990   5.0  1.004991

In [29]:
df.to_latex()

'\\begin{tabular}{lrrrrrrrr}\n\\toprule\n{} &   eta &  epsilon &  sigma\\_init &    mu &    K &      TMSE &    CB &  tradeOff \\\\\n\\midrule\nmenor\\_TMSE &  0.05 &     0.35 &         0.4 &  0.10 &  1.0 &  0.007282 &  22.0 &  0.009126 \\\\\nmenor\\_CB   &  0.05 &     1.00 &         0.2 &  0.05 &  1.0 &  1.004990 &   5.0 &  1.004991 \\\\\n\\bottomrule\n\\end{tabular}\n'

## Monte Carlo search

In [30]:
df = results_table("/content/mc_QKLMS_AKB_4.2_AKB_5003.csv")
df

FileNotFoundError: ignored

In [ ]:
df.to_latex()

# QKLMS AMK

## Simple search

In [31]:
df = results_table("/content/QKLMS_AMK_4.2_AKB_5003.csv")
df

             eta  epsilon    mu    K      TMSE    CB  tradeOff
menor_TMSE  0.20     0.35  0.20  8.0  0.003747  59.0  0.015218
menor_CB    0.05     1.00  0.05  1.0  0.457559   5.0  0.457561

In [32]:
df.to_latex()

'\\begin{tabular}{lrrrrrrr}\n\\toprule\n{} &   eta &  epsilon &    mu &    K &      TMSE &    CB &  tradeOff \\\\\n\\midrule\nmenor\\_TMSE &  0.20 &     0.35 &  0.20 &  8.0 &  0.003747 &  59.0 &  0.015218 \\\\\nmenor\\_CB   &  0.05 &     1.00 &  0.05 &  1.0 &  0.457559 &   5.0 &  0.457561 \\\\\n\\bottomrule\n\\end{tabular}\n'

## Monte carlo search

In [33]:
df = results_table("/content/mc_QKLMS_AMK_4.2_AKB_5003.csv")
df

             eta  epsilon   mu    K      TMSE   CB
menor_TMSE  0.10      0.5  0.1  4.0  0.014492  7.0
menor_CB    0.05      1.0  0.3  1.0  0.563943  3.0

In [34]:
df.to_latex()

'\\begin{tabular}{lrrrrrr}\n\\toprule\n{} &   eta &  epsilon &   mu &    K &      TMSE &   CB \\\\\n\\midrule\nmenor\\_TMSE &  0.10 &      0.5 &  0.1 &  4.0 &  0.014492 &  7.0 \\\\\nmenor\\_CB   &  0.05 &      1.0 &  0.3 &  1.0 &  0.563943 &  3.0 \\\\\n\\bottomrule\n\\end{tabular}\n'